@charset "UTF-8";

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: #308fa7;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 2em;
    margin: 0.7em 0; }

img {
    max-width: 25vw;
    height: auto;
    width: 100%;
}

.container
{
    position: relative;
    width:100%;
    max-width: 900px;
    min-height: 900px;
    background: #fff;
    display: grid;
    margin: 40px;
    grid-template-columns: 2fr 3fr;
}

.container .left{
    position: relative;
    background: rgb(171, 255, 255);
    padding: 40px;
}
.container .right{
    position: relative;
    background: #a1a3e2;
    padding: 40px;
}